/**
* option gradient - #9c88fc, #5755fb
* option - #f1f1f1
* body background - #f9f9f9
**/
.base-page {
  font-family: sans-serif, Arial, sans-serif;
  *:focus {
    outline: none;
  }
}

body {
  margin: 0;
}
