/**
* option gradient - #9c88fc, #5755fb
* option - #f1f1f1
* body background - #f9f9f9
**/
.base-page {
  font-family: sans-serif, Arial, sans-serif;
  *:focus {
    outline: none;
  }
}

body {
  margin: 0;
}

.board {
  width: 500px;
  display: flex;
  justify-content: flex-start;
  flex-flow: row wrap;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: grey;
  margin: 10px;
}